.contact-page-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-column {
        background-size:cover;
        background-repeat:no-repeat;
    }

    .right-column {
        display:flex;
        flex-direction:column;
        
        .icon {
            color: $teal;
            font-size: 1.3em;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        .info-icon {
            display:flex;
            padding-bottom:30px;
            .info {
                padding-left:10px;
            }

        }
    }
}